<form nz-form [formGroup]="myForm">
  <app-demo7-list [department]="department"
                  (dept)="deleteDept($event)"
                  (submitForm)="submitForm()"
                  >
  </app-demo7-list>

  <div class="addList" *ngIf="!hasSubmitted">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">
        部门
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" >
        <nz-select name="部门" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedDept" (ngModelChange)="selectDept($event)">
          <nz-option *ngFor="let option of department; let i = index" nzValue="{{ option.name }}" nzLabel="{{ option.name }}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>节目</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24"  [nzErrorTip]="errorTp1">
        <input nz-input type="text" formControlName="name" placeholder="填写节目名称"/>
        <ng-template #errorTp1 let-control>
          <div *ngIf="control.invalid && (control.dirty || control.touched)">
            <ng-container *ngIf="control.errors.required">
              节目名称必填
            </ng-container>
            <ng-container *ngIf="control.errors.nameexists">
              节目名称已存在
            </ng-container>
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item class = "con-button" *ngIf = "!hasSubmitted">
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="myForm.get('name').invalid" (click) = "addMenu()">添加节目</button>
    </nz-form-control>
  </nz-form-item>

  <p>fff: {{ runChangeDetection }}</p>
</form>
